version: '3.5'

services:
  postgres:
    container_name: postgres_container
    image: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - desafio-back-votos
    restart: unless-stopped

  redis:
    image: redis
    command: redis-server
    ports:
      - "6379:6379"
    networks:
      - desafio-back-votos
    restart: unless-stopped

networks:
  desafio-back-votos:
    driver: bridge

volumes:
  postgres: